*{
  color: black;
}
.name {
  font-style: italic;
}
.container{
  text-align: center;
  margin-top: 1em;
}
.footer {
  text-align: center;
  width: 100%;
  padding: 10px;
}
.card{
  max-width: 50em;
}
#badgeS{
 margin:1em;
}
#alertbox{
  margin-top: 3em;
}
